<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
  <div class="news-container">
    <h1>{{message | capitalize}} News</h1>
    {% for news in data %}
    <div class="article">
      {% if 'removed' not in news['title'] %}
      <h3>{{news['title']}}</h3>
      {% if news['description'] is not none and 'None' not in news['description'] %}<p>{{news['description']}}</p>{% endif %}
      {% if news['content'] is not none and 'None' not in news['content'] %}<p>{{news['content']}}</p>{% endif %}
      <p><a href="{{ news['url'] }}" target="_blank">Read more</a></p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</body>
</html>